<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index" xmlns:th="http://www.w3.org/1999/xhtml">
<body>


<div layout:fragment="content">

    <div class="row">
        <div class="col-sm-12 mb-4 mb-xl-0">
            <h4 class="font-weight-bold text-dark">New Club</h4>
            <!--<p class="font-weight-normal mb-2 text-muted">FEB 20, 2023</p>-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Expected Contribution</h4>
                    <!--<p class="card-description">
                      Basic form layout
                    </p>-->

                    <h4 class="font-weight-bold text-dark">Add Expected Contribution</h4>


                    <form th:action="@{/contributionForm}" method="post">
                        <div class="form-group">
                            <label for="member">Member:</label>
                            <select id="member" class="form-control" name="member.id">
                                <option th:each="member : ${members}" th:value="${member.id}" th:text="${member.fname + ' ' + member.lname}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="period">Period:</label>
                            <select class="form-control" id="period" name="period" required>
                                <option th:each="period : ${periods}" th:value="${period}" th:text="${period}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="expectedContribution">Amount:</label>
                            <input type="number" class="form-control" id="expectedContribution" name="expectedContribution" required min="0" step="0.01" />
                        </div>

                        <button type="submit" class="btn btn-primary mr-2">Save Contribution</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                        <button class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Service To Humanity</h5>

                    <div class="card-body">

                        <!--<form method="get" action="#" th:action="@{/api/clientLogList/search}" th:object="${clientLogList}">
                          <input type="text" name="keyword" th:value="${keyword}" placeholder="Search by client or user"/>
                          <button type="submit">Search</button>
                        </form>-->

                        <div></div>
                        <div></div>

                        <div class="table-responsive mt-3">
                            <table class="table table-header-bg table-striped">
                                <thead>
                                <tr>
                                    <th>Member</th>
                                    <th>Period</th>
                                    <th>Expected Contribution</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="contribution : ${contributions}">
                                    <td th:text="${contribution.member.fname} + ' ' + ${contribution.member.lname}"></td>
                                    <td th:text="${contribution.period}"></td>
                                    <td th:text="${contribution.expectedContribution}"></td>
                                    <td>
                                        <a class="btn btn-danger btn-sm"
                                           th:href="@{'/deleteContribution/' + ${contribution.id}}">Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>