<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index" xmlns:th="http://www.w3.org/1999/xhtml">
<body>


<div layout:fragment="content">

  <div class="row">
    <div class="col-sm-12 mb-4 mb-xl-0">
      <h4 class="font-weight-bold text-dark">New Points Record Form </h4>
      <!--<p class="font-weight-normal mb-2 text-muted">FEB 20, 2023</p>-->
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h7 class="card-title">Fill In Correct Details</h7>
          <!--<p class="card-description">
            Basic form layout
          </p>-->
          <form th:action="@{/addPoints}" method="post">


            <div class="form-group ">
              <label>Member</label>
              <select class="js-example-basic-single w-100 form-control" id="member" name="member.id"  required>
                <option>-SELECT-</option>
                <option th:each="member:${members}"
                        th:text="${member.fname} + ' ' + ${member.lname}"
                        th:value="${member.id}">
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="point">Total Points</label>
              <input type="number" class="form-control" name="point" id="point" placeholder="" required>
            </div>

            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
            <a  class="btn btn-light" th:href="@{/points}" role="button">Cancel</a>
          </form>
        </div>
      </div>
    </div>


  </div>


</div>

</body>
</html>